---
name: CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  tests:
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
        node-version: [14.x, 16.x, 18.x]
    runs-on: ${{ matrix.os }}
    env:
      CI: true
    name: ${{ matrix.os }} (Node.js ${{ matrix.node-version }})
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - name: yarn install
        run: yarn
      - name: build
        run: yarn build
      - name: Unittest
        run: yarn test:compiled
      - name: Lint
        if: ${{ matrix.node-version == '16.x' }}
        run: yarn lint
