---
name: size

on:
  pull_request:
    branches:
    - master

jobs:
  size:
    name: Size Check
    runs-on: ubuntu-latest
    env:
      CI: true
      CI_JOB_NUMBER: 1
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - run: corepack enable
      - name: yarn install
        run: yarn
      - name: build
        run: yarn build
      - name: Check bundle sizes
        uses: andresz1/size-limit-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          build_script: size
